@font-face {
    font-family: 'font-tss';
    src:    url('../fonts/font-tss.eot?o7bwps');
    src:    url('../fonts/font-tss.eot?o7bwps#iefix') format('embedded-opentype'),
        url('../fonts/font-tss.ttf?o7bwps') format('truetype'),
        url('../fonts/font-tss.woff?o7bwps') format('woff'),
        url('../fonts/font-tss.svg?o7bwps#font-tss') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="ic-"], [class*=" ic-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'font-tss' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ic-attach:before {
    content: "\e900";
}
.ic-banned:before {
    content: "\e901";
}
.ic-cancel:before {
    content: "\e902";
}
.ic-coordinate:before {
    content: "\e903";
}
.ic-copy:before {
    content: "\e904";
}
.ic-edit:before {
    content: "\e905";
}
.ic-execute:before {
    content: "\e906";
}
.ic-list-check:before {
    content: "\e907";
}
.ic-margin:before {
    content: "\e908";
}
.ic-margin-approval:before {
    content: "\e909";
}
.ic-new-file:before {
    content: "\e90a";
}
.ic-ocs:before {
    content: "\e90b";
}
.ic-ov-approval:before {
    content: "\e90c";
}
.ic-place:before {
    content: "\e90d";
}
.ic-receipt:before {
    content: "\e90e";
}
.ic-search:before {
    content: "\e90f";
}
.ic-windows:before {
    content: "\e910";
}
.ic-delete:before {
    content: "\e911";
}
.ic-save:before {
    content: "\e913";
}

.ic-unlock-os:before {
  content: "\e912";
}
.ic-unlock:before {
  content: "\e914";
}
.ic-quote:before {
  content: "\e915";
}
.ic-security:before {
  content: "\e916";
}
.ic-person-add:before {
  content: "\e917";
}
.ic-close:before {
  content: "\e918";
}
.ic-send:before {
  content: "\e919";
}
.ic-lock:before {
  content: "\e91a";
}
.ic-user:before {
  content: "\e91b";
}
.ic-2x { font-size: 2em; }

.ic-3x { font-size: 3em; }
